﻿@using Microsoft.AspNet.Identity;
@using Library.Enum;
@model Avya.Models.CollectionViewModel

@{
    ViewBag.Title = "Add New Collection";
}
@{
    var types = Enum.GetValues(typeof(MediaTypeCode));
}
<center><h2>Add new collection</h2></center>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="ui-corner-all ui-widget-content collection-details">
        <div class="form-horizontal create-form">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <center>
                    <div class="col-md-12">
                        @foreach (var type in types)
                    {
                    <div style="display:inline-block;">
                        @Html.RadioButtonFor(m => m.CollectionType, (int)type, new { @id = type + "-radBtn", @class = "typeRadBtns" })
                        <label for="@type-radBtn"></label>
                    </div>
                    }
                        <div>
                            @Html.ValidationMessageFor(m => m.CollectionType, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </center>
            </div>
            <div class="form-group">
                <center>
                    <div class="col-md-offset-4 col-md-3 addNameField">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    @Html.HiddenFor(m => m.UserId, new { Value = User.Identity.GetUserId() })
                    <div class="col-md-1 btnContainer">
                        <input type="submit" value="" class="save-btn btn" />
                    </div>
                    <div class="col-md-1 btnContainer">
                        <input type="button" value="" class="cancel-btn btn" onclick="location.href='@Url.Action("Index", "Collection")';return false;" />
                    </div>
                </center>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
