﻿@using Microsoft.AspNet.Identity
@using Library.Enum
@using Avya.Helpers
@using Avya.Models
@using Avya.Extensions
@model IEnumerable<CollectionViewModel>

@{
    ViewBag.Title = "My Collections";
    var vdd = new ViewDataDictionary
    {
        { "entity", Model.GetEntityName() }
    };

    var sort = string.Empty;
    var order = string.Empty;

    if (QueryStringHelper.ValidQueryStrings(Request, "sort", "order") && User.Identity.IsAuthenticated)
    {
        sort = Request["sort"].ToString();
        order = Request["order"].ToString();

        if (!QueryStringHelper.IsValidSortAndOrder(sort, order))
        {
            sort = "name";
            order = "asc";
        }
    }
}

<script type="text/javascript">
    $(function () {
        // Use cookie to remember last open tab
        // http://stackoverflow.com/a/14467706

        var index = 'homePageTabs';
        var dataStore = window.sessionStorage;
        try {
            var oldIndex = dataStore.getItem(index);
        } catch (e) {
            var oldIndex = 0;
        }
        $('#tabs').tabs({
            active: oldIndex,
            activate: function (event, ui) {
                var newIndex = ui.newTab.parent().children().index(ui.newTab);
                dataStore.setItem(index, newIndex)
            }
        });
    });
</script>
@Html.Partial("_EditEntityPartial", vdd)
@Html.Partial("_DeleteDialogPartial", vdd)
<center><h2>@User.Identity.GetUserName()'s Collections</h2></center>
<div id="tabs" class="centered">
    @{
        var types = Enum.GetValues(typeof(MediaTypeCode));
    }
    <div class="newBtn-container">
        @Html.ActionLink(" ", "Create", null, new { @class = "new-btn" })
    </div>
    <ul>
        @foreach (var type in types)
        {
            <li><a href="#@type"><span></span></a></li>
        }
    </ul>
    @foreach (var type in types)
    {
        <div id="@type">
            <hr />
            <div class="row">
                <div class="row">
                    <div class="col-md-1 col-md-offset-3">
                        <div class="header fav-header">
                            <a href="@Url.Action("Index", "Collection", new { sort = "fav", order = (order == "asc") ? "desc" : "asc" })">
                                <span class="@(@sort == "fav" || @sort == "" ? (@order == "asc" ? "fav-off" : "fav-on") : "")"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="header">
                            <a href="@Url.Action("Index", "Collection", new { sort = "name", order = (order == "asc") ? "desc" : "asc" })">
                                @Html.DisplayNameFor(model => model.Name) <i class="fa @(@sort == "name" ? (@order == "asc" ? "fa-arrow-up" : "fa-arrow-down") : "")" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="header">
                            <a href="@Url.Action("Index", "Collection", new { sort = "items", order = (order == "asc") ? "desc" : "asc" })">
                                @Html.DisplayNameFor(model => model.ItemCount)
                                <i class="fa @(@sort == "items" ? (@order == "asc" ? "fa-arrow-up" : "fa-arrow-down") : "")" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model.Where(x => x.CollectionType == (MediaTypeCode)type).SortAndOrderBy(sort, order))
                {
                    <div class="itemRow col-md-12">
                        <div class="anchor-container">
                            @{ var fav = (bool)item.Favourite; }
                            <div class="col-md-1 col-md-offset-3">@Html.CheckBoxFor(modelItem => fav, new { @class = "fav-cb", onclick = "editField(this,{id: " + item.Id + ", name: '" + item.Name + "', type:" + (int)item.CollectionType + "})" }) </div>
                            <a class="row-anchor" href="@Url.RouteUrl(item.ItemCount > 0 ? "DetailIndex" : "CreateDetailView", new { cid = item.Id, t = (int)item.CollectionType, c = item.Name })">
                                <div class="col-md-3 toEdit collection-name">@Html.DisplayFor(modelItem => item.Name)</div>
                                <div class="col-md-3 editor">
                                    <input type="text" value="@item.Name" size="@item.Name.Length" name="name" class="form-control" />
                                </div>
                                <div class="col-md-1 num-items">@Html.DisplayFor(modelItem => item.ItemCount)</div>
                            </a>
                        </div>
                        <div class="col-md-2">
                            @Html.ActionLink(" ", null, null, new { @class = "edit-btn", onclick = "editField(this,{id: " + item.Id + ", name: '" + item.Name + "', type:" + (int)item.CollectionType + "})" })
                            @Html.ActionLink(" ", null, null, new { @class = "bin-btn", onclick = "showDeleteDialog({ id: " + item.Id + ", name: '" + item.Name + "', entity: 'c'})" })
                        </div>
                    </div>
                                }
            </div>
            <hr />
        </div>
                                }
    @using (Html.BeginForm("Edit", Model.GetEntityName(), FormMethod.Post, new { id = "edit-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("Id")
        @Html.Hidden("Name")
        @Html.Hidden("CollectionType")
        @Html.Hidden("UserId", User.Identity.GetUserId())
        @Html.Hidden("Favourite")
    }
</div>
