﻿@using Avya.Extensions
@using Avya.Helpers
@using Library.Enum
@model Avya.Models.CollectionDetailModel
@functions{
    MediaTypeCode GetMediaType()
    {
        var t = Request.QueryString["t"].ToString();

        return (MediaTypeCode)Enum.Parse((typeof(MediaTypeCode)), t);
    }
    string GetCollectionId()
    {
        return Request.QueryString["cid"].ToString();
    }
    string GetCollectionName()
    {
        return Request.QueryString["c"].ToString();
    }
}
@{
    ViewBag.Title = "Create";
}


@if (QueryStringHelper.ValidQueryStrings(Request, "t", "cid", "c") && User.Identity.IsAuthenticated)
{

    var type = GetMediaType();
    var c = GetCollectionId();
    var collectionName = GetCollectionName();
    int cid;
    var vdd = new ViewDataDictionary { { "type", type } };

    if (Enum.IsDefined(typeof(MediaTypeCode), type) && int.TryParse(c, out cid))
    {

        <center><h2>Add a @type to '@collectionName'</h2></center>

        using (Html.BeginForm("Create", "CollectionDetail", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="ui-corner-all ui-widget-content collection-details">
                <div class="form-horizontal create-form">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <center>
                            @if (type == MediaTypeCode.Book)
                        {
                                @Html.LabelFor(model => model.BookPlatformCode, htmlAttributes: new { @class = "control-label col-md-2 col-md-offset-3" })
                                <div class="col-md-2 code-selector-container">
                                    @Html.EnumDropDownListWithDescriptionFor(m => m.BookPlatformCode, new { @class = "form-control code-selector" })
                                    @Html.ValidationMessageFor(model => model.BookPlatformCode, "", new { @class = "text-danger" })
                                </div>
                            }
                            else if (type == MediaTypeCode.Game)
                            {
                                @Html.LabelFor(model => model.GamePlatformCode, htmlAttributes: new { @class = "control-label col-md-2 col-md-offset-3" })
                                <div class="col-md-2 game-code-selector-container">
                                    @Html.EnumDropDownListWithDescriptionFor(m => m.GamePlatformCode, new { @class = "form-control code-selector" })
                                    @Html.ValidationMessageFor(model => model.GamePlatformCode, "", new { @class = "text-danger" })
                                </div>
                            }
                            else if (type == MediaTypeCode.Movie)
                            {
                                @Html.LabelFor(model => model.MoviePlatformCode, htmlAttributes: new { @class = "control-label col-md-2 col-md-offset-3" })
                                <div class="col-md-2 code-selector-container">
                                    @Html.EnumDropDownListWithDescriptionFor(m => m.MoviePlatformCode, new { @class = "form-control code-selector" })
                                    @Html.ValidationMessageFor(model => model.MoviePlatformCode, "", new { @class = "text-danger" })
                                </div>
                            }
                        </center>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ItemName, htmlAttributes: new { @class = "control-label col-md-2 col-md-offset-3" })
                        <div class="col-md-3 itemName-container">
                            @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control searchable" } })
                            @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group searchResults-container">
                        <div class="searchResults col-md-3 col-md-offset-5">
                        </div>
                        <div class="loader"></div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-2 col-md-offset-3" })
                        <div class="col-md-1 rating-container">
                            @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control ratingSpinner", min = "0", max = "10", size = "3" } })
                            @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.ItemId)
                    @Html.HiddenFor(m => m.CollectionId, new { Value = @cid })
                    <div class="form-group">
                        <div class="col-md-1 col-md-offset-7 btnContainer">
                            <input type="submit" value="" class="save-btn btn" />
                        </div>
                        <div class="col-md-1 btnContainer">
                            <input type="button" value="" class="cancel-btn btn" onclick="location.href='@Url.Action("Index", "CollectionDetail", new { cid= cid, t = (int)type, c= collectionName })';return false;" />
                        </div>
                    </div>
                </div>
            </div>
        }

        using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "searchForm" }))
        {
    @Html.AntiForgeryToken()
        }
    }
    else
    {
        Html.RenderPartial("Error");
    }
}
else
{
    Html.RenderPartial("Error");
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
