﻿@using Avya.Extensions
@using Avya.Helpers
@using Avya.Models
@using Avya.Controllers
@model CollectionDetailViewModel

@{
    ViewBag.Title = "Index";
    var vdd = new ViewDataDictionary
    {
        { "entity", Model.CollectionDetails.GetEntityName() }
    };
    var type = Model.Type.ToString();
    var pluralType = type + "s";

    var sort = string.Empty;
    var order = string.Empty;

    if (QueryStringHelper.ValidQueryStrings(Request, "sort", "order") && User.Identity.IsAuthenticated)
    {
        sort = Request["sort"].ToString();
        order = Request["order"].ToString();

        if (!QueryStringHelper.IsValidSortAndOrder(sort, order))
        {
            sort = "name";
            order = "asc";
        }
    }
}
@if (QueryStringHelper.ValidQueryStrings(Request, "t", "cid", "c") && User.Identity.IsAuthenticated)
{
    var t = Request.QueryString["t"].ToString();
    var cid = Request.QueryString["cid"].ToString();
    var c = Request.QueryString["c"].ToString();

    <center><h2><span id="Model.Type"></span>@Model.CollectionName's @pluralType</h2></center>
    <div class="ui-corner-all ui-widget-content collection-details">
        <div>
            <div class="collection-detail-btn">
                @Html.ActionLink(" ", "Index", "Collection", null, new { @class = "back-btn" })
            </div>
            <div class="collection-detail-btn">
                @Html.RouteLink(" ", "CreateDetailView", new { t = @t, cid = @cid, c = @c }, new { @class = "add-btn" })
            </div>
        </div>
        <hr />
        @if (((CollectionDetailController)ViewContext.Controller).IsCollectionEmpty(int.Parse(cid)))
        {
            <div class="row content-row">
                <center>
                    @Model.CollectionName is empty. Click @Html.RouteLink("here", "CreateDetailView", new { t = @t, cid = @cid, c = @c }, new { @class = "default-link" }) to add items.
                </center>
            </div>
        }
        else
        {
            <div class="row content-row">
                <div class="row">
                    <div class="col-md-3 col-md-offset-2">
                        <div class="header"><a href="@Url.Action("Index", "CollectionDetail", new { sort = "name", order = (order == "asc") ? "desc" : "asc", cid = cid, c = c, t = t })">@Html.DisplayNameFor(model => model.CollectionDetails.FirstOrDefault().ItemName) <i class="fa @(@sort == "name" ? (@order == "asc" ? "fa-arrow-up" : "fa-arrow-down") : "")" aria-hidden="true"></i></a></div>
                    </div>
                    <div class="col-md-2">
                        <div class="header"><a href="@Url.Action("Index", "CollectionDetail", new { sort = "rating", order = (order == "asc") ? "desc" : "asc", cid = cid, c = c, t = t })">@Html.DisplayNameFor(model => model.CollectionDetails.FirstOrDefault().Rating) <i class="fa @(@sort == "rating" ? (@order == "asc" ? "fa-arrow-up" : "fa-arrow-down") : "")" aria-hidden="true"></i></a></div>
                    </div>
                    <div class="col-md-2">
                        <div class="header">
                            <a href="@Url.Action("Index", "CollectionDetail", new { sort = "platform", order = (order == "asc") ? "desc" : "asc", cid = cid, c = c, t = t })">
                                @if (Model.Type == Library.Enum.MediaTypeCode.Book)
                                {
                                    @Html.DisplayNameFor(model => model.CollectionDetails.FirstOrDefault().BookPlatform)
                                }
                                else if (Model.Type == Library.Enum.MediaTypeCode.Game)
                                {
                                    @Html.DisplayNameFor(model => model.CollectionDetails.FirstOrDefault().GamePlatform)
                                }
                                else
                                {
                                    @Html.DisplayNameFor(model => model.CollectionDetails.FirstOrDefault().MoviePlatform)
                                }
                                <i class="fa @(@sort == "platform" ? (@order == "asc" ? "fa-arrow-up" : "fa-arrow-down") : "")" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>

                @foreach (var item in Model.CollectionDetails.SortAndOrderBy(sort, order))
                {
                    <div class="itemRow col-md-12">
                        <div class="col-md-3 col-md-offset-2 collection-name">@item.ItemName</div>
                        <div class="col-md-1 toEdit">@item.Rating</div>
                        <div class="col-md-1 editor"><input type="number" value="@item.Rating" name="rating" size="3" class="ratingSpinner form-control" min="0" max="10" /></div>
                        @if (Model.Type == Library.Enum.MediaTypeCode.Book)
                        {
                        <div class="col-md-2 col-md-offset-1 toEdit">
                            @item.BookPlatform
                        </div>
                        <div class="col-md-2 col-md-offset-1 editor">
                            @Html.EnumDropDownListWithDescriptionFor(modelItem => item.BookPlatformCode, new { @class = "form-control code-selector", @Name = "bc" })
                        </div>
                        }
                        else if (Model.Type == Library.Enum.MediaTypeCode.Game)
                        {
                        <div class="col-md-2 col-md-offset-1 toEdit">
                            @item.GamePlatform
                        </div>
                        <div class="col-md-2 col-md-offset-1 editor">
                            @Html.EnumDropDownListWithDescriptionFor(modelItem => item.GamePlatformCode, new { @class = "form-control code-selector", @Name = "gc" })
                        </div>
                        }
                        else
                        {
                        <div class="col-md-2 col-md-offset-1 toEdit">
                            @item.MoviePlatform
                        </div>
                        <div class="col-md-2 col-md-offset-1 editor">
                            @Html.EnumDropDownListWithDescriptionFor(modelItem => item.MoviePlatformCode, new { @class = "form-control", @Name = "mc" })
                        </div>
                        }
                        @{
                            var rowItem = "{id: " + item.Id + ", r: " + item.Rating + ", cid:" + item.CollectionId + ", iId:" + item.ItemId + ", iName:'" + item.ItemName + "'";
                            if (Model.Type == Library.Enum.MediaTypeCode.Book)
                            {
                                rowItem += ", bc: " + (int)item.BookPlatformCode;
                            }
                            else if (Model.Type == Library.Enum.MediaTypeCode.Game)
                            {
                                rowItem += ", gc: " + (int)item.GamePlatformCode;
                            }
                            else
                            {
                                rowItem += ", mc: " + (int)item.MoviePlatformCode;
                            }
                            rowItem += "}";
                        }
                        <div class="col-md-2">
                            @Html.ActionLink(" ", null, null, new { @class = "edit-btn", onclick = "editField(this," + @rowItem + ")" })
                            @Html.ActionLink(" ", "Delete", "CollectionDetail", new { id = item.Id }, new { @class = "bin-btn", onclick = "showDeleteDialog({ id: " + item.Id + ", name: '" + item.ItemName + "', entity: 'cd'})" })
                        </div>
                    </div>
                            }
            </div>
            using (Html.BeginForm("Edit", Model.CollectionDetails.GetEntityName(), FormMethod.Post, new { id = "edit-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("Id")
                @Html.Hidden("Rating")
                if (Model.Type == Library.Enum.MediaTypeCode.Book)
                {
                    @Html.Hidden("BookPlatformCode")
                }
                else if (Model.Type == Library.Enum.MediaTypeCode.Game)
                {
                    @Html.Hidden("GamePlatformCode")
                }
                else
                {
                    @Html.Hidden("MoviePlatformCode")
                }
                @Html.Hidden("ItemId")
                @Html.Hidden("ItemName")
                @Html.Hidden("CollectionId")
            }

            @Html.Partial("_EditEntityPartial", vdd)
            @Html.Partial("_DeleteDialogPartial", vdd)
        }
        <hr />
</div>
}
else
{
    Html.RenderPartial("Error");
}
