﻿body
{
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content
{
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt
{
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea
{
    max-width: 280px;
}

.centered .ui-tabs-nav
{
    text-align: center !important;
}

    .centered .ui-tabs-nav li
    {
        display: inline-block !important;
        float: none !important;
        margin: 0 !important;
    }

a#ui-id-1 span, span#Book
{
    background-image: url('images/book-icon.svg');
    background-repeat: no-repeat;
    background-size: 64px;
    width: 64px;
    height: 64px;
    display: block !important;
}

a#ui-id-2 span, span#Game
{
    background-image: url('images/game-icon.svg');
    background-repeat: no-repeat;
    background-size: 64px;
    width: 64px;
    height: 64px;
    display: block !important;
}

a#ui-id-3 span, span#Movie
{
    background-image: url('images/movie-icon.svg');
    background-repeat: no-repeat;
    background-size: 64px;
    width: 64px;
    height: 64px;
    display: block !important;
}

a#ui-id-1 > span#email, span#Email
{
    background-image: url('images/email-icon.svg');
    background-repeat: no-repeat;
    background-size: 32px;
    width: 32px;
    height: 32px;
    display: block !important;
}

a#ui-id-2 > span#social, span#Social
{
    background-image: url('images/social-icon.svg');
    background-repeat: no-repeat;
    background-size: 32px;
    width: 32px;
    height: 32px;
    display: block !important;
}

input[type="radio"].typeRadBtns
{
    display: none;
}

    input[type="radio"].typeRadBtns + label:hover
    {
        border: 1px solid #101010;
        opacity: 1;
    }

    input[type="radio"].typeRadBtns + label
    {
        height: 70px;
        width: 70px;
        display: inline-block;
        padding: 2px;
        border: 1px solid #999999;
        opacity: 0.7;
        background-repeat: no-repeat;
        background-size: 64px;
        background-position: center;
        cursor: pointer;
    }

    input[type="radio"].typeRadBtns:checked + label
    {
        height: 70px;
        width: 70px;
        display: inline-block;
        padding: 0;
        opacity: 1;
        border: 2px solid #aa0000;
    }

input[type=radio]#Book-radBtn + label
{
    background-image: url('images/book-icon.svg');
}

input[type=radio]#Game-radBtn + label
{
    background-image: url('images/game-icon.svg');
}

input[type=radio]#Movie-radBtn + label
{
    background-image: url('images/movie-icon.svg');
}

a.view-btn
{
    background-image: url('images/eye-icon.svg');
    background-repeat: no-repeat;
    background-size: 24px;
    width: 24px;
    height: 24px;
    display: inline-block !important;
}

a.edit-btn
{
    background-image: url('images/pencil-icon.svg');
    background-repeat: no-repeat;
    background-size: 24px;
    width: 24px;
    height: 24px;
    display: inline-block !important;
}

a.bin-btn
{
    background-image: url('images/bin-icon.svg');
    background-repeat: no-repeat;
    background-size: 24px;
    width: 24px;
    height: 24px;
    display: inline-block !important;
}

.newBtn-container
{
    z-index: 10;
    position: absolute;
    top: 14%;
    left: 33%;
}

a.new-btn
{
    background-image: url('images/new-icon.svg');
    background-repeat: no-repeat;
    background-size: 32px;
    width: 32px;
    height: 32px;
    display: inline-block !important;
}

.addToCollection-btn, .add-btn
{
    background-image: url('images/add-icon.svg');
    background-repeat: no-repeat;
    background-size: 24px;
    width: 24px;
    height: 24px;
    display: inline-block !important;
}

a.back-btn
{
    background-image: url('images/back-icon.svg');
    background-repeat: no-repeat;
    background-size: 32px;
    width: 32px;
    height: 32px;
    display: inline-block !important;
}

.addNameField
{
    display: inline-block;
    padding-right: 1% !important;
}

.btnContainer
{
    display: inline-block;
    padding-left: 0 !important;
    padding-right: 1% !important;
    width: 4% !important;
}

.save-btn
{
    background: url('images/save-icon.svg');
    background-repeat: no-repeat;
    background-size: 32px;
    width: 32px !important;
    height: 32px;
    background-position: center;
}

    .save-btn:hover, .cancel-btn:hover
    {
        opacity: 0.7;
    }

.cancel-btn
{
    background: url('images/cancel-icon.svg');
    background-repeat: no-repeat;
    background-size: 30px;
    width: 32px !important;
    height: 32px;
    background-position: center;
}

.ui-dialog-titlebar-close
{
    visibility: hidden !important;
}

.editor
{
    display: none;
    padding-left: 0 !important;
}

#edit-form
{
    display: none;
}

.sub-nav
{
    margin-bottom: 3%;
    margin-top: 1%;
}

    .sub-nav .nav-item
    {
        display: inline-block;
    }

    .sub-nav .backBtn-Container
    {
        margin-right: 3%;
    }

.saveBtn-Container
{
    padding-left: 66px;
}

.ratingSpinner
{
    max-width: 60px !important;
}

.code-selector
{
    width: auto !important;
}

.code-selector-container
{
    padding-left: 0 !important;
}

.game-code-selector-container
{
    padding-left: 20px !important;
}

.itemName-container, .rating-container
{
    padding-left: 20px !important;
}

.change-pw-btn
{
    margin-left: 14.5% !important;
}

ul.user
{
    padding: 0;
    list-style: none;
    margin-right: 0 !important;
    position: relative;
    left: -30px;
}

    ul.user > li a
    {
        padding: 0 !important;
    }

    ul.user li
    {
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: right;
        color: #9d9d9d;
        padding-top: 0;
        float: right;
        width: 100%;
    }

        ul.user li a
        {
            display: block;
            padding-right: 25px !important;
            color: #9d9d9d;
            text-decoration: none;
        }

            ul.user li a:hover
            {
                color: #939393;
                background: #333;
            }

        ul.user li ul.account-menu
        {
            padding-top: 5px;
            padding-left: 0 !important;
            min-width: 171px; /* Set width of the dropdown */
            background: #222;
            display: none;
            position: absolute;
            z-index: 999;
            left: -37px;
        }

            ul.user li ul.account-menu li a
            {
                padding: 8px 25px !important;
            }

        ul.user li:hover ul.account-menu
        {
            display: block; /* Display the dropdown */
        }

        ul.user li ul.account-menu li
        {
            display: block;
        }

            ul.user li ul.account-menu li:hover
            {
                display: block;
                background: #333;
            }

                ul.user li ul.account-menu li:hover a
                {
                    color: #fff;
                }

.user-profile
{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 10px;
    margin-top: 10px;
}

.user-name
{
    display: inline-block;
    position: relative;
    top: -10px;
}

.register-btn
{
    margin-left: 67px;
}

.forgot-link
{
    padding-top: 7px;
    font-size: small;
}

.login-btn
{
    margin-left: 63% !important;
}

.jumbotron
{
    margin-top: 30px;
}

.remember-me-label
{
    padding-left: 0 !important;
    font-size: small !important;
}

.social-btn
{
    display: inline-block;
    margin-left: 20px;
}

button.Google
{
    background: url('images/gplus-icon.svg');
    background-repeat: no-repeat;
    background-size: 32px;
    width: 32px !important;
    height: 32px;
    background-position: center;
}


button.Facebook
{
    background: url('images/fb-icon.svg');
    background-repeat: no-repeat;
    background-size: 32px;
    width: 32px !important;
    height: 32px;
    background-position: center;
}

#socialLoginList
{
    margin-bottom: 10px;
}

.register-form-field
{
    margin-left: 37% !important;
}

.have-account
{
    margin-left: 43px;
}

.collection-detail-btn
{
    display: inline-block;
    margin-right: 10px;
}

.header-row
{
    position: relative;
    margin: auto 0;
}

.header
{
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.fav-header
{
    margin-left: 15px;
}

.itemRow
{
    padding-bottom: 10px;
    padding-top: 10px;
    vertical-align: middle;
}

    .itemRow:hover
    {
        background-color: #fafafa;
        cursor: pointer;
    }

.collection-name
{
    padding-left: 0;
}

.content-row
{
    padding-left: 20px;
    padding-right: 20px;
}

.collection-details
{
    padding: 10px;
}
    .collection-details .default-link {
        color: #337ab7 !important;
    }
    .collection-details .create-form .searchResults-container{
        height:0;
        margin-bottom:0;
    }

    .collection-details .create-form .searchResults
    {
        position: relative;
        width: 245px;
        border: 1px solid #ccc;
        left: 23px;
        top: -16px;
        background-color: #fff;
        padding:0 !important;
        display:none;
    }
    .collection-details .create-form .loader
    {
        background: url('images/ajax-loader.gif') no-repeat;
        width: 16px;
        height: 16px;
        position: relative;
        top: -40px;
        display: none;
        left:63%;
    }
        .collection-details .create-form .searchResults .resultRow
        {
            padding:10px;
        }

            .collection-details .create-form .searchResults .resultRow:hover
            {
                background-color: #ededed;
                cursor:pointer;
            }

            .collection-details .create-form .searchResults .resultRow .itemId,
            .collection-details .create-form .searchResults .resultRow .itemOriginal
            {
                display: none;
            }

            .collection-details .create-form .searchResults .resultRow .itemResult .highlight
            {
                background-color:yellow;
            }

.create-form
{
    padding-top: 20px;
}

input[type=checkbox].fav-cb
{
    display: inline-block;
}

    input[type=checkbox].fav-cb:after, .fav-off
    {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('images/heart-outline-icon.svg') #fff;
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: center;
    }

    input[type=checkbox].fav-cb:checked:after, .fav-on
    {
        background: url('images/heart-icon.svg')#fff;
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: center;
        display: inline-block;
    }

.num-items
{
    margin-left: 55px;
}

.menu-bar
{
    float: right;
}

    .menu-bar .menu-bar-item
    {
        display: inline-block;
        margin-left: 50px;
    }

    .menu-bar .loader
    {
        background: url('images/ajax-loader.gif') no-repeat;
        width: 16px;
        height: 16px;
        position: relative;
        top: -13px;
        left: -10px;
        display: none;
    }

    .menu-bar .searchResults
    {
        display: none;
        position: absolute;
        width: 150px;
        border: 1px solid #ccc;
        margin-left: 80px;
        top: 42px;
        background-color: #fff;
    }

        .menu-bar .searchResults .resultRow
        {
            display: block;
            padding-left: 13px;
            padding-bottom: 5px;
            border-bottom: 1px solid #f6f6f6;
        }

            .menu-bar .searchResults .resultRow:hover
            {
                background-color: #ededed;
            }

            .menu-bar .searchResults .resultRow a
            {
                text-decoration: none;
                color: #333;
            }

            .menu-bar .searchResults .resultRow .resultPt1
            {
                display: block;
                font-size: smaller;
                overflow-x: hidden;
                width: 114px;
                padding-top: 5px;
                padding-bottom: 5px;
            }

                .menu-bar .searchResults .resultRow .resultPt1 > span
                {
                    display: inline-block;
                }

                    .menu-bar .searchResults .resultRow .resultPt1 > span.highlight,
                    .menu-bar .searchResults .resultRow .resultPt2 i > span.highlight
                    {
                        background-color: yellow;
                    }

            .menu-bar .searchResults .resultRow .resultPt2
            {
                display: block;
                font-size: xx-small;
                overflow-x: hidden;
                width: 114px;
                text-align: right;
                padding-top: 5px;
                padding-bottom: 5px;
            }

input#globalSearch
{
    outline: none;
    margin-bottom: 5px;
}

input[type=search]#globalSearch
{
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 0 0;
    width: 55px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input#globalSearch::-webkit-search-decoration,
input#globalSearch::-webkit-search-cancel-button
{
    display: none;
}

input[type=search]#globalSearch:focus
{
    width: 130px;
    background-color: #fff;
    border-color: #66CC75;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input#globalSearch:-moz-placeholder
{
    color: #999;
}

input#globalSearch::-webkit-input-placeholder
{
    color: #999;
}

/* Demo 2 */
#searchForm input[type=search]#globalSearch
{
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}

#searchForm + i.clearSearch
{
    display: none;
    font-size: 27px;
    position: relative;
    left: -29px;
}

#searchForm input[type=search]#globalSearch:focus,
#searchForm input[type=search]#globalSearch:hover
{
    width: 150px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}

#searchForm input#globalSearch:-moz-placeholder
{
    color: transparent;
}

#searchForm input#globalSearch::-webkit-input-placeholder
{
    color: transparent;
}

footer{
    margin-top:10px;
}
