﻿@using Microsoft.AspNet.Identity
@model Avya.Models.IndexViewModel
@{
    ViewBag.Title = "Manage Account";
}

<center><h2>Manage Your Account</h2></center>

<center><p class="text-success">@ViewBag.StatusMessage</p></center>
<div>
    <hr />
    @using (Html.BeginForm("ChangeUsername", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Username:", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.NewUserName, new { @class = "form-control", placeholder = "New Username" })
                        </div>
                        <div class="col-md-2">
                            <input type="submit" value="Change Username" class="btn btn-default" />
                        </div>
                        <div class="col-md-3">
                            @Html.ValidationMessage("Username", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
</div>
<div>
    <hr />
    @using (Html.BeginForm("Upload", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(m => m.ProfileImageData, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="form-group">
                        <div class="col-md-3">
                            @if (Model.ProfileImageData != null)
                            {
                                <img src="data: image; base64,@Convert.ToBase64String(Model.ProfileImageData)" />
                            }
                            else
                            {
                                <img src="https://dummyimage.com/150x150/fff/000" />
                            }
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <input type="file" name="user-img" id="user-img" accept="image/jpeg, image/png">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="col-md-1">
                                    <input type="submit" value="Upload" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.ValidationMessage("ProfileImage", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
    <hr />
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Password:", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Current Password" })
                        </div>
                        @Html.ValidationMessage("OldPassword", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password" })
                        </div>
                        @Html.ValidationMessage("NewPassword", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                        </div>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-2 change-pw-btn">
                            <input type="submit" value="Change password" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <hr />
</div>
