﻿@using Avya.Extensions
@using Avya.Models
@model IEnumerable<SearchModel>

@foreach (var result in Model)
{
    var resultSearch = result.Search.ToLower();

    var name = result.Name.HightlightString(resultSearch);

    var icon = result.Type == 1 ? "fa-book" : result.Type == 2 ? "fa-gamepad" : "fa-film";
    var url = Url.Action("Index", "CollectionDetail", new { cid = result.Cid, t = result.Type, c = result.Name });

    if (!string.IsNullOrWhiteSpace(result.Item))
    {
        var item = result.Item.HightlightString(resultSearch);

        <div class="resultRow">
            <a href="@url">
                <div class="resultPt1"><i class="fa @icon" aria-hidden="true"></i> @item</div>
                <div class="resultPt2">in <i>@name</i></div>
            </a>
        </div>
    }
    else
    {
        <div class="resultRow">
            <a href="@url">
                <div class="resultPt1"><i class="fa @icon" aria-hidden="true"></i> @name</div>
            </a>
        </div>
    }
}
