﻿@using Avya.Extensions
@using Avya.Models
@model IEnumerable<ItemSearchModel>
@foreach (var result in Model)
{
    var resultSearch = result.Search.ToLower();
    var resultItem = result.Name.HightlightString(resultSearch);

    <div class="resultRow">
        <div class="itemId">@result.Id</div>
        <div class="itemOriginal">@result.OriginalName</div>
        <div class="itemResult">@resultItem</div>
    </div>
}
