﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><h1>What Avya got!?</h1></center>
    <p class="lead">Keep track of what you've got whether it's books, games, or movies! Rate each item and find what platform you own it on!</p>
</div>


@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        </div>
    </div>*@