﻿<script type="text/javascript">
    $(function () {
        $(".bin-btn").click(function (e) {
            e.preventDefault();
        });
    });
    function showDeleteDialog(e) {
        $(".deleteForm").dialog({
            autoOpen: true,
            position: { my: "center", at: "top+350", of: window },
            width: 500,
            resizable: false,
            title: 'Confirm Delete',
            modal: true,
            open: function () {
                var url = '@Url.Action("DeletePartialView", ViewData["entity"].ToString())?n=' + encodeURI(e.name) + '&id=' + e.id + '&e=' + e.entity;
                $(this).load(url);
            },
            buttons: {
                "Delete": function () {
                    DeleteEntity(e.id);
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });

        return false;
    }

    function DeleteEntity(id) {
        var antiForgeryVal = $('#deleteFormContainer > input[name="__RequestVerificationToken"]').val();
        var postData = { id: id, __RequestVerificationToken: antiForgeryVal };
        $.ajax({
            url: '@Url.Action("Delete", ViewData["entity"].ToString())',
            type: 'POST',
            data: postData,
            success: function (data) {
                if (data) {
                    $(':input', '#deleteFormContainer')
                      .not(':button, :submit, :reset, :hidden')
                      .val('')
                      .removeAttr('checked')
                      .removeAttr('selected');

                    window.location.reload(true);
                }

            }
        });
    }
</script>
<div class="deleteForm"></div>
