﻿@using Data.Extension
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    @Html.Partial("_SearchScriptPartial");
    <div class="menu-bar">
        <div class="menu-bar-item">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "searchForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <input type="search" placeholder="Search" id="globalSearch" name="s" autocomplete="off" />
            }
        </div>
        <div class="searchResults">
        </div>
        <div class="loader"></div>
        <div class="menu-bar-item">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()

                <ul class="nav navbar-nav navbar-right user">
                    <li>
                        <a href="#">
                            <div class="user-profile" style="background-image:url('data: image; base64,@User.Identity.GetProfileImage()')"></div>
                            <div class="user-name">Hello @User.Identity.GetUserName()!</div>
                        </a>
                        <ul class="account-menu">
                            <li>
                                <a href="@Url.Action("Index", "Manage")" title="Manage Account"><i class="fa fa-cog"></i> Manage Account</a>
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> Log off</a></li>
                        </ul>
                    </li>
                </ul>
            }
        </div>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
