﻿@model Avya.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <div id="socialLoginList" class="col-md-5 col-md-offset-3">
            @foreach (AuthenticationDescription p in loginProviders)
            {
                <div class="social-btn">
                    <button type="submit" class="btn btn-default @p.AuthenticationType" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"></button>
                </div>
            }
        </div>
    }
}
