﻿@using Avya.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<center><h2>@ViewBag.Title</h2></center>
<hr />
<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
    });
</script>
<div class="row">
    <div id="tabs" class="centered col-md-4 col-md-offset-4">
        <ul>
            <li><a href="#EmailLogin"><span id="email"></span></a></li>
            <li><a href="#SocialLogin"><span id="social"></span></a></li>
        </ul>
        <div id="EmailLogin">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-1">
                            @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", placeholder = "Email/Username" })
                            @Html.ValidationMessageFor(m => m.LoginId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-1">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-5">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe, new { @class = "remember-me-label" })
                            </div>

                        </div>
                        <div class="col-md-offset-1 col-md-2">
                            <div class="forgot-link">
                                @Html.ActionLink("Forgot?", "ForgotPassword")
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-6 col-md-3 login-btn">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>

            }
            </section>
        </div>
        <div id="SocialLogin">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
