﻿@model Avya.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<center><h2>@ViewBag.Title</h2></center>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-offset-4 col-md-3 register-form-field">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-3 register-form-field">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-3 register-form-field">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-3 register-form-field">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-4">
            @Html.ActionLink("Have an account?", "Login", "Account", null, new { @class = "have-account"})
            <input type="submit" class="btn btn-default register-btn" value="Register"/>
        </div>
        <div class="col-md-offset-6 col-md-1 register-btn">
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
